<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

   

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!--

TemplateMo 570 Chain App Dev

https://templatemo.com/tm-570-chain-app-dev

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/templatemo-chain-app-dev.css">
    <link rel="stylesheet" href="assets/css/animated.css">
    <link rel="stylesheet" href="assets/css/owl.css">

  </head>

<body>

  

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
 
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Planifiez votre événement en quelques clics !</h2>
                    <p>Bienvenue sur Eventify, votre plateforme de référence pour découvrir, planifier et vivre des événements inoubliables. Que vous cherchiez des concerts, des conférences, ou des festivals, nous avons tout ce qu'il vous faut !</p>
                  </div>
                   
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="assets/images/slider-dec.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h4>Liste des <em>Evenements  </em> pour vous</h4>
            <img src="assets/images/heading-line-dec.png" alt="">
            
          </div>
        </div>
      </div>
    </div>
   
  
  <div class="container">
    <div class="row">
      <div *ngFor="let evenement of evenements" class="col-lg-6 col-md-6 col-sm-12 mb-4">
        <div class="service-item d-flex align-items-center">
          <!-- Contenu texte à gauche -->
          <div class="text-content">
            <h4>{{ evenement.nomEvenement }}</h4>
            <p>
              <strong>Date :</strong> {{ evenement.dateEvenement | date: 'dd/MM/yyyy' }} <br />
              <strong>Type :</strong> {{ evenement.type.nomType }} <br />
              <strong>Capacité :</strong> {{ evenement.capacite }}
            </p>
            <div class="text-button">
              <a
              *ngIf="authService.isAdmin()"
              
              [routerLink]="['/updateEvenement', evenement.idEvenement]"
            >
              Modifier>>     
            </a>
              <button
                *ngIf="authService.isAdmin()"
                class="btn btn-danger mt-2"
                (click)="supprimerEvenement(evenement)"
              >
                Supprimer
              </button>
            </div>
          </div>
  
          <!-- Image à droite -->
          <div class="image-content ml-auto">
            <img
              src="{{ evenement.imageStr }}"
              alt="{{ evenement.nomEvenement }}"
              style="height: 200px; width: 350px; object-fit: cover;"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/animation.js"></script>
  <script src="assets/js/imagesloaded.js"></script>
  <script src="assets/js/popup.js"></script>
  <script src="assets/js/custom.js"></script>
  </body></html>
  