<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4" >
        <app-update-type [type]="updateType" (typeUpdated)="typeUpdated($event)"
        [ajout]="ajout"></app-update-type>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr> <th>Id</th><th>Nom Type</th><th   >Action</th> </tr>
                </thead>
                <tbody *ngFor="let ty of types">
                    <tr>
                        <td>{{ty.idType}}</td>
                        <td>{{ty.nomType}}</td>
                        <td >
                            <a class="btn btn-danger"
                                (click)="supprimerType(ty)">Supprimer</a>&nbsp;
                            <a class="btn btn-success"
                                (click)="updatetype(ty)">Editer</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
